body {
  background-image: url("2.jpg") !important;
}

.bg-cells thead tr th {
  background-color: rgb(253, 41, 98) !important;
}

.bg-cells tbody tr:nth-child(odd) td {
  background-color: rgb(241, 145, 145) !important;
}

.bg-cells tbody tr:nth-child(even) td {
  background-color: rgb(246, 114, 138) !important;
}

a {
  color:rgb(255, 252, 252) !important;
}

.button2,
.button {
  background-color: rgb(247, 46, 66) !important;
}

table {
  box-shadow: 2px 2px 5px rgb(255, 0, 0) !important;
}