body {
  background-image: url("6.jpg") !important;
}

.bg-cells thead tr th {
  background-color: blue !important;
}

.bg-cells tbody tr:nth-child(odd) td {
  background-color: rgb(238, 31, 31) !important;
}

.bg-cells tbody tr:nth-child(even) td {
  background-color: rgb(243, 248, 89) !important;
}

a {
  color:rgb(0, 0, 0) !important;
}

.button2,
.button {
  background-color: rgb(251, 236, 74) !important;
}

table {
  box-shadow: 2px 2px 5px rgb(234, 255, 0) !important;
}
