/* change url and background-colors per month */
/* copy this to other months css */
/* don't remove !important, this forces the attributes to be used*/
body {
  background-image: url("/5.jpg") !important;
}

.bg-cells thead tr th {
  background-color: rgb(96, 238, 68) !important;
}

.bg-cells tbody tr:nth-child(odd) td {
  background-color: rgb(239, 50, 50) !important;
}

.bg-cells tbody tr:nth-child(even) td {
  background-color: rgb(245, 134, 60) !important;
}
 
a {
  color:rgb(162, 158, 158) !important;
}

.button2,
.button {
  background-color: rgb(98, 244, 54) !important;
}
