/* change url and background-colors per month */
/* copy this to other months css */
/* don't remove !important, this forces the attributes to be used*/
body {
  background-image: url("11.jpg") !important;
}

.bg-cells thead tr th {
  background-color: rgb(219, 219, 224) !important;
}

.bg-cells tbody tr:nth-child(odd) td {
  background-color: rgb(96, 94, 95) !important;
}

.bg-cells tbody tr:nth-child(even) td {
  background-color: rgb(204, 200, 200) !important;
}

a {
  color:rgb(0, 0, 0) !important;
}

.button2,
.button {
  background-color: rgb(250, 250, 250) !important;
}
